# mac
.DS_Store

# emacs
*~
\#*\#

# configure
configure
META
Makefile
src/Makefile
example/Info.plist
config.log
config.status

# make
*.[oa]
*.so
*.cm[ioxa]
*.cmx[as]
example/_build/
example/example.app/
example/example.native
depends
html

# {proc,var}cc
*Props.ml
*Props.ml.old
*_tags.[ch]
*Enums.ml
