# mac
.DS_Store

# emacs
*~
\#*\#

# configure
configure
META
Makefile
src/Makefile
example/info.plist

# make
*.[oa]
*.so
*.cm[ioxa]
*.cmx[as]
example/_build/
example/example.app/
example/example.native

# {proc,var}cc
*Props.ml
*_tags.[ch]
*Enums.ml
src/gtkOSXApplication.ml